.numBtn{
    width: fit-content;
    box-shadow: 1px 1px 15px #ddd;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    padding : 3px;
    width: 50px;
    background-color: rgb(41, 120, 255);
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 14pt;
}

.btn:hover{
    background-color: #00306a;
    box-shadow: 1px 1px 15px #acacac;
    cursor: pointer;
}

.txt{
    width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 14pt;
    padding : 3px;
}