.newnav {
    background-color: white;
    width: fit-content;
    display: flex;
    height: 32rem;
    /* padding: 1rem 0; */
    box-shadow: 1px 1px 15px #666;
}


.navSec {
    color: white;
    /*  */
    /* margin: 4rem; */
}

.border-right {
    border-right: lightgray .2rem solid;
}

.newnav div b {
    color: #3E4094;
    font-family: 'Montserrat';
    border-bottom: lightgray .1rem solid;
    font-size: .9rem;
    margin: 1rem 0;
}

.newnav div a {
    color: #3E4094;
    font-size: .8rem;
    font-family: 'Montserrat';
    font-weight: 500;

}

.newnav>div>img {
    width: 100%;
}

.newnav div {
    padding-right: .6rem;
    padding-left: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newnav div div {
    width: 215px;
    text-align: left;
    color: black;
}

.newnav div div a {
    color: rgb(35, 35, 36);
    padding: 0px;
    margin: 0;
}

.accordion {
    padding-left: 3px;
    background-color: #eeeeee00;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    transition: 0s;
}

.accordion::active {
    background: #ccc;
}

.panel {
    background: #e7e7e7;
    max-height: 200vh !important;
}

#holidays-international {
    background: red !important;
}

.push_bottom {
    margin-bottom: 6rem;
}