.mainNav {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.menu {
    text-align: center;
    display: block;
}

.menu ul {
    padding: 0;
    background-color: #3e4094;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    list-style: none;
}

.menu li:hover {
    background-color: #696ab1;
}

.menu ul li a {
    padding: 13px 20px 13px 20px;
    color: white;
    text-decoration: none;
    display: block;
}

.brandImage {
    width: 150px;
    height: 70px;
    position: relative;
    margin: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.ham {
    display: none;
    font-size: 18pt;
    margin: 20px;
}

.topNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contactUs {
    padding: 10px;
}

.contactUs .contactIcon {
    display: inline-block;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .mainNav {
        position: fixed;
    }

    .menu {
        display: none;
    }

    .brandImage {
        margin: 10px;
    }

    .contactUs {
        display: none;
    }

    .ham {
        display: block;
    }
}

.dropdown {
    position: absolute;
    display: none;
    width: 200px;
    background-color: rgb(204, 204, 204);
}
.menuDrop:hover .dropdown {
    display: block;
}
