.heading {
    font-weight: bold;
    font-size: 14pt;
}

.drop {
    position: relative;
    background-color: white;
    width: 100%;
    height: 20em;
    color: black;
    text-align: left;
    padding: 10px;
}

.drop ul {
    background-color: #fff;
}

.drop ul li {
    display: block;
}

.drop ul li a {
    color: black;
    padding: 3px;
}

.menuStyle {
}
