.customCard {
    background-color: white;
    width: 100%;
    margin: 10px;
    box-shadow: 1px 1px 15px #ddd;
}
.cardImage {
    width: 315px;
    height: 240px;
}

.content {
    padding: 10px;
    width: 100%;
}
.duration {
    padding: 10px;
    color: rgb(0, 119, 255);
}

.places {
    color: #555555;
}

.price {
    font-size: 25pt;
    color: rgb(0, 119, 225);
}
